<app-base-section class="bg-orange-100 pb-20 overflow-hidden">
  <div class="bg-red p-6 lg:p-10 bg-zinc-50 rounded shadow-xl -mx-10 relative">
    <span
      class="rounded absolute inset-[6px] border border-highlight pointer-events-none"
    ></span>
    <div class="content max-w-[500px]">
      <h3 class="font-medium mb-3 text-2xl lg:text-3xl">Lorem ipsum dolor.</h3>
      <p class="text-sm lg:text-base mb-10">
        Dolor soluta vero praesentium saepe optio, perferendis ea quibusdam
        assumenda aspernatur mollitia quidem quod tempora libero deleniti
        consequatur cumque voluptates totam labore?
      </p>
      <button secondary class="text-sm lg:text-sm py-3 px-6 rounded">
        Começar agora!
      </button>
    </div>
  </div>
</app-base-section>
