<app-base-section class="bg-orange-100 overflow-hidden">
  <app-waves class="absolute bottom-0 inset-x-0 -z-[1]"></app-waves>
  <div class="py-10">
    <div class="content max-w-[500px] text-center mx-auto text-f">
      <h3
        class="font-semibold mb-3 text-2xl lg:text-3xl"
        [innerHTML]="sectionProps.title"
      ></h3>
      <p
        class="text-sm lg:text-base font-medium mb-20"
        [innerHTML]="sectionProps.description"
      ></p>
      <form class="relative">
        <input
          type="email"
          class="bg-white py-4 ps-4 pe-20 rounded-full w-full text-black outline-0"
          [placeholder]="sectionProps.placeholderText"
        />
        <button
          primary
          class="rounded-full absolute right-0 top-0 bottom-0 m-2 px-8"
        >
          <i class="fas fa-long-arrow-alt-right text-sm text-white"></i>
        </button>
      </form>
    </div>
  </div>
</app-base-section>
