<app-base-section>
  <div class="mt-20 mb-0">
    <app-section-header
      [contentItem]="{
        title: 'Clientes',
        description: 'Veja algumas empresas que usam nosso sistema'
      }"
    ></app-section-header>
    <div class="flex flex-nowrap gap-4 overflow-auto p-4">
      <a
        class="company-wrapper min-w-[100px] w-[132px] transition hover:grayscale-0 grayscale hover:scale-105 overflow-hidden rounded-3xl"
        *ngFor="let item of companies"
        [href]="item.url"
        target="_blank"
      >
        <img [src]="item.logo" class="w-full aspect-square" alt="" srcset="" />
      </a>
    </div>
  </div>
</app-base-section>
