<header
  #header
  class="bg-transparent fixed top-0 w-full min-h-20 overflow-hidden z-50"
  [class.scrolled]="windowScrollY > 0 || !navCollapse"
  [style]="{ '--_items-amount': navlinks.length }"
>
  <div class="container flex items-center justify-between">
    <app-logo class="h-20 max-w-32"></app-logo>
    <nav class="lg:block hidden mx-auto">
      <ul class="flex gap-5">
        <li
          *ngFor="let item of navlinks"
          class="uppercase font-semibold text-xs"
        >
          <a
            [href]="'#' + item.id"
            [class.active]="item.id === currentSection"
            class="hover:border-b hover:opacity-100 opacity-50 p-2 border-current navlink"
          >
            {{ item.label }}
          </a>
        </li>
      </ul>
    </nav>
    <app-login-button class="ms-auto lg:ms-0"></app-login-button>
    <button
      class="font-oswald text-xl uppercase lg:hidden aspect-square w-12 grid place-items-center ms-8"
      (click)="navCollapse = !navCollapse"
    >
      <i
        class="fa-solid fa-bars absolute opacity-0 transition-all"
        [class.opacity-100]="navCollapse"
        [class.-rotate-90]="!navCollapse"
        [class.rotate-0]="navCollapse"
      ></i>
      <i
        class="fa-solid fa-xmark absolute opacity-0 transition-all"
        [class.opacity-100]="!navCollapse"
        [class.rotate-90]="navCollapse"
        [class.rotate-0]="!navCollapse"
      ></i>
    </button>
  </div>
  <nav
    class="lg:hidden block container overflow-hidden transition-all mobile"
    [class.collapse]="navCollapse"
  >
    <ul class="flex flex-col gap-5 py-4">
      <li
        *ngFor="let item of navlinks"
        style="letter-spacing: 3px"
        class="uppercase font-semibold text-xs"
      >
        <a
          [href]="'#' + item.id"
          [class.active]="item.id === currentSection"
          class="hover:border-b border-black hover:opacity-100 opacity-50 p-2 navlink"
        >
          {{ item.label }}
        </a>
      </li>
    </ul>
  </nav>
</header>
